<!--
     title: Future Jams
     description: List of future Cornwall Tech Jams
-->

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Future Cornwall Tech Jams</h1>
    </div>
</header>

<div class="container">
  <h1 class="small-caps">2020</h1>
  <p class="lead">
    <table>
      <tr>
        <th>11th January 2020</th>
        <th>Cornwall College Camborne</th>
        <th>10am to 2pm</th>
      </tr>
      <tr>
        <th>8th February 2020</th>
        <th><a href="locations/bodmin-library.html">Bodmin Library</a></th>
        <th>10am to 1pm</th>
      </tr>
      <tr>
        <th>14th March 2020</th>
        <th><a href="locations/cornwall-college.html">Cornwall College Camborne&nbsp;&nbsp;</a></th>
        <th>10am to 2pm</th>
      </tr>
      <tr>
        <th>18th April 2020</th>
        <th><a href="locations/bodmin-library.html">Bodmin Library</a></th>
        <th>10am to 1pm</th>
      </tr>
      <tr>
        <th>9th May 2020</th>
        <th>TBC</th>
        <th>10am to 2pm</th>
      </tr>
      <tr>
        <th>13th June 2020</th>
        <th>TBC</th>
        <th>10am to 2pm</th>
      </tr>
      <tr>
        <th>11th July 2020</th>
        <th>TBC</th>
        <th>10am to 2pm</th>
      </tr>
      <tr>
        <th>8th August 2020</th>
        <th>Summer Break</th>
        <th></th>
      </tr>
      <tr>
        <th>12th September 2020&nbsp;&nbsp;</th>
        <th>TBC</th>
        <th>10am to 2pm</th>
      </tr>
      <tr>
        <th>10th October 2020</th>
        <th>TBC</th>
        <th>10am to 2pm</th>
      </tr>
      <tr>
        <th>14th November 2020</th>
        <th>TBC</th>
        <th>10am to 2pm</th>
      </tr>
      <tr>
        <th>12th December 2020</th>
        <th>TBC</th>
        <th>10am to 2pm</th>
      </tr>
    </table>
  </p>
</div>
