<!--
     title: Future Jams
     description: List of future Cornwall Tech Jams
-->

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Future Cornwall Tech Jams</h1>
    </div>
</header>

<div class="container">
  <h1 class="small-caps">2018</h1>
  <p class="lead">
    <table>
      <tr>
        <th>13th January 2018</th>
        <th><a href="locations/penwith-college.html">Penwith College Penzance</a></th>
        <th>10am to 2pm</th>
      </tr>
      <tr>
        <th>10th February 2018</th>
        <th><a href="locations/cornwall-college.html">Cornwall College Camborne</a></th>
        <th>10am to 2pm</th>
      </tr>
      <tr>
        <th>3rd March 2018</th>
        <th>Raspberry Pi Birthday Weekend - Location TBC&nbsp;&nbsp;</th>
        <th>10am to 2pm</th>
      </tr>
      <tr>
        <th>10th March 2018</th>
        <th><a href="locations/bodmin-library.html">Bodmin Library</a></th>
        <th>10am to 1pm</th>
      </tr>
      <tr>
        <th>14th April 2018</th>
        <th><a href="locations/cornwall-college.html">Cornwall College Camborne</a></th>
        <th>10am to 2pm</th>
      </tr>
      <tr>
        <th>12th May 2018</th>
        <th><a href="locations/bodmin-library.html">Bodmin Library</a></th>
        <th>10am to 1pm</th>
      </tr>
      <tr>
        <th>9th June 2018</th>
        <th><a href="locations/cornwall-college.html">Cornwall College Camborne</a></th>
        <th>10am to 2pm</th>
      </tr>
      <tr>
        <th>14th July 2018</th>
        <th><a href="locations/bodmin-library.html">Bodmin Library</a></th>
        <th>10am to 1pm</th>
      </tr>
      <tr>
        <th>11th August 2018</th>
        <th>Summer Break</th>
        <th></th>
      </tr>
      <tr>
        <th>8th September 2018</th>
        <th>Location TBC</th>
        <th></th>
      </tr>
      <tr>
        <th>13th October 2018</th>
        <th>Location TBC</th>
        <th></th>
      </tr>
      <tr>
        <th>10th November 2018&nbsp;&nbsp;</th>
        <th>Location TBC</th>
        <th></th>
      </tr>
      <tr>
        <th>8th December 2018</th>
        <th>Location TBC</th>
        <th></th>
      </tr>
    </table>
  </p>
</div>
