<!--
     title: Cornwall Tech Jam
     description: Raspberry Pi's, pasties and programming. Free monthly event celebrating free software.
-->
<header class="wrap-polygons ar-intro-product">
        <div class="container text-center">
            <h1 class="small-caps"><a href="https://map.cornwall.gov.uk/website/location_map/location_map.html?zoomlevel=8&xcoord=205721&ycoord=66915&mapwidth=945&mapheight=500&maptype=Basemap&mapmarker=yes&maptitle=Bodmin%20Library%20and%20Information%20Service">Bodmin Library</a> - 8th April 10am</h1>
            <h2>Save the date : Tech Jam 13th May at Cornwall College</h2>
            <p class="lead">
                For anyone interested in technology, of all ages and abilities.
                <br/>
                Ask questions and learn about programming (Scratch, Python, Minecraft and much more).
                <br/>
                Find out about interfacing computers with the physical world.
            </p>

            <img src="assets/img/tj_pool_20160409.jpg" width="854" height="500" class="wow fadeInUp animation-delay-4 img-responsive aligncenter img-po hp-rover" alt="Photograph showing a hive of activity at April's Tech Jam" />

            <h2>Programme of Activities</h2>
            <p class="lead">
                10am - 2pm Touch, code and play with gadgets and computers<br/>
                <br/>
            </p>
        </div>
</header>

<div class="overlay">
    <div class="container">
        <section class="margin-bottom">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="right-line">Come down and join us</h2>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="text-icon wow fadeInUp">
                        <span class="icon-ar icon-ar-lg"><i class="fa fa-code"></i></span>
                        <div class="text-icon-content">
                            <h3 class="no-margin">Get coding</h3>
                            <p>Learn about programming on a variety of platforms including Arduino and Raspberry Pi in various languages.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="text-icon wow fadeInUp">
                        <span class="icon-ar icon-ar-lg"><i class="fa fa-desktop"></i></span>
                        <div class="text-icon-content">
                            <h3 class="no-margin">Equipment here to use</h3>
                            <p>We have numerous computers as well as Raspberry Pi's for anyone to use. You don't need to bring anything unless you want to.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="text-icon wow fadeInUp">
                        <span class="icon-ar icon-ar-lg"><i class="fa fa-rocket"></i></span>
                        <div class="text-icon-content">
                            <h3 class="no-margin">Participate in ongoing projects</h3>
                            <p>There are numerous ongoing projects that you can get involved in for a taster before starting your own.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="text-icon wow fadeInUp">
                        <span class="icon-ar icon-ar-lg"><i class="fa fa-suitcase"></i></span>
                        <div class="text-icon-content">
                            <h3 class="no-margin">Bring your own projects</h3>
                            <p>We'd love you to see what you've been up to so please bring down what you've been working on!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="text-icon wow fadeInUp">
                        <span class="icon-ar icon-ar-lg"><i class="fa fa-graduation-cap"></i></span>
                        <div class="text-icon-content">
                            <h3 class="no-margin">Various skillsets</h3>
                            <p>The Tech Jam is run by volunteers (hobbyists and professionals) who have a broad spectrum of experience in lots of areas.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="text-icon wow fadeInUp">
                        <span class="icon-ar icon-ar-lg"><i class="fa fa-thumbs-o-up"></i></span>
                        <div class="text-icon-content">
                            <h3 class="no-margin">We could use your help</h3>
                            <p>From soldering, organising events, programming and general help, we could use your help regardless of ability.</p>
                        </div>
                    </div>
                </div>
            </div> <!-- row -->
        </section>
    </div>
</div>
