<!--
     title: Online Resources
     description: List of online resources
-->

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Online Resources</h1>
    </div>
</header>

<div class="container">
  <h2>A helpful list of online resources</h2>
  <p class="lead">
    <table>
      <tr>
        <th><a href="https://www.raspberrypi.org/">Raspberry Pi Foundation</a></th>
      </tr>
      <tr>
        <th><a href="https://microbit.org/">BBC Microbit</a></th>
      </tr>
      <tr>
        <th><a href="https://www.arduino.cc/">Arduino</a></th>
      </tr>
      <tr>
        <th><a href="https://www.instructables.com/circuits/">Instructables</a></th>
      </tr>
      <tr>
        <th><a href="https://hackaday.io/projects">Hackaday</a></th>
      </tr>
    </table>
  </p>
  <h3>Please tweet <a href="https://twitter.com/cornwalltechjam">@cornwalltechjam</a> to add a link</h3>
</div>
