<!--
     title: Finding us
     description: Bodmin Library
-->

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Bodmin Library - Chy Trevail Business Park, Bodmin</h1>
    </div>
</header>

<div class="container">
    <p>We are located in the new Cornwall Council Chy Trevail building on Dunmere Road in Bodmin.</p>

    <img src="/assets/img/bodmin_library.jpg" width="1141" height="558" class="wow fadeInUp animation-delay-4 img-responsive aligncenter img-po hp-rover" alt="Map showing Bodmin Library" />

</div>
