<!--
     title: Location of Cornwall College
     description: Location of Cornwall College Building 5
-->

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Location of Building 5, Cornwall College Pool, Redruth TR15 3RD</h1>
    </div>
</header>

<div class="container">
    <p>From the Trevenson Road entrance, take the first left and drive all the way to the end of the road, along the length of the college.  Turn right and park in the car park area outside Building 7.  We are in Building 5 (Student Central), a 30 second walk from the car park.</p>

    <img src="/assets/img/cccampus.jpg" width="949" height="672" class="wow fadeInUp animation-delay-4 img-responsive aligncenter img-po hp-rover" alt="Cornwall College Pool Campus Map" />

</div>
