<!--
     title: Finding us
     description: Headforwards, Opie Building, Cornwall College
-->

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Headforwards, Opie Building, Cornwall College Pool, Redruth TR15 3RD</h1>
    </div>
</header>

<div class="container">
    <p>Headforwards are located in the Opie Building (Building 11) by the Main Visitor Entrance. Parking can be found next to Building 17.</p>

    <img src="/assets/img/headforwards.jpg" width="949" height="672" class="wow fadeInUp animation-delay-4 img-responsive aligncenter img-po hp-rover" alt="Cornwall College Pool Campus Map" />

</div>
