<!--
     title: Finding us
     description: Heartlands
-->

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Heartlands, Camborne</h1>
    </div>
</header>

<div class="container">
    <p>Heartlands is a couple of minutes from the A30.  Take Pool exit from both directions and follow signs.  The car park is located on the left hand side of the road after passing the Adventure Playground.  Parking charges apply.  Sat nav:  TR15 3QY.</p>
    <p>We will be in the Film Room.</p>
    <p> Visitors to Heartlands can redeem the full face value of their parking ticket against any purchase made on site on the day of their visit. Simply retain the reminder tear-off section and present it at the point of purchase to have the face value deducted from the cost of your purchase.<br />
Up to 2 hours: £2<br />
All Day: £3<br /><p>

    <img src="/assets/img/heartlands.jpg" width="1141" height="460" class="wow fadeInUp animation-delay-4 img-responsive aligncenter img-po hp-rover" alt="Map showing Heartlands" />

</div>
