<!--
     title: Finding us
     description: Zennor Building, Penwith College
-->

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Penwith College, St Clare Street, Penzance, TR18 2SA</h1>
    </div>
</header>

<div class="container">
    <p>We are located in the Zennor building. Parking is outside the Nanjjizal building.</p>

    <img src="/assets/img/pzcampus.png" width="1027" height="655" class="wow fadeInUp animation-delay-4 img-responsive aligncenter img-po hp-rover" alt="Map showing Penwith College" />

</div>
